@{
  Layout="Shared/_Layout.cshtml";
}

<form action="/stylist/add" method="post">
  <label for="stylist-name">Stylist Name</label>
  <input name="stylist-name" type="text">
  <br><br><button type="submit">Add New Stylist</button>
</form>
