@{
Layout = "Shared/_Layout.cshtml";
}
<h3>@Model["Stylist"].GetName()</h3>
@if (@Model["Clients"].Count == 0)
{
  <p>This Stylist has no clients.</p>
}
else
{

<h4>Clients:</h4>
  <ol>
    @foreach (var client in @Model["Clients"])
    {
      <li>@client.GetName()</li>
        <div class="btn-group btn-group-xs" role="group">
          <form action="/client/delete/@client.GetId()" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="/client/edit/@client.GetId()" class="btn btn-info">Update</a>

          </form>
        </div>
    }
  </ol>
}
<a href="/client/add">Add a client.</a>
