@{
Layout = "Shared/_Layout.cshtml";
}

@if (@Model["Clients"].Count == 0)
{
  <p>This Stylist has no clients.</p>
}
else
{
  <ol>
    @foreach (var client in @Model["Clients"])
    {
      <li>@client.GetName()</li>
    }
  </ol>
}
<form action="/client/add" method="post">
  <label for="client-name">Client Name</label>
  <input name="client-name" type="text">
  <br><br><button type="submit">Add New Client</button>
</form>
